
html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: #2F2F2F;
    /*margin: 100px;*/
}

h2, h1 {
    font-weight: 600;
    margin: 0;
}

.sectionCSS {
    /*position: absolute;*/
    background-color: #f3f3f3;
   /* width: 765px;
    padding: 20px;
    top: 100px;
    bottom: 10px;
    overflow: auto;
    left: 0;
    right: 0;*/
}

.layout-wrap{
    max-width: 960px;
    min-width: 585px;
    margin: 0 auto;
    padding: 24px;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.createEmployee {
    border-radius: 7px;
}

#container ul {
    display: inline-block;
    width: 40%;
}

hr {
    margin-bottom: 15px;
    margin-top: 15px;
}

label {
    font-weight: 600;
}

.employee-info {
    margin: 20px 0;
}

form input, form select {
    width: 244px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid gray;
    font-size: 17px;
    font-weight: 600;
    padding-left: 8px;
    line-height: 41px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.employeeList {
    margin-top: 20px;
    overflow: auto;
    max-height: 610px;
    border-radius: 7px;
}

/*.employees {
    margin-left: inherit;
}*/

ul, li {
    list-style: none;
    padding: 0;
}

.btn {
    /*position: relative;*/
    /*width: 177px;*/
    height: 50px;
    margin-top: 10px;
    background: #5cb85c;
    border-radius: 7px;
    border: 1px solid #5EB753;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding: 0 15px;
}

.titleBtn {
    display: inline-block;

}

/*.btn:after {
    width: 100%;
    content: '';
    display: inline-block;
    position: absolute;
    bottom:0;
    height: 7px;
    left: 0;
    border-radius: 5px;
    border-bottom: 1px solid #35FB35;
}*/


/*
dt:after {
    content: ": ";
}*/
