
html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: #2F2F2F;
}

h2, h1 {
    font-weight: 600;
    margin: 0;
}

.sectionCSS {
    background-color: #f3f3f3;
}

.layout-wrap{
    max-width: 960px;
    min-width: 585px;
    margin: 0 auto;
    padding: 24px;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.createEmployee {
    border-radius: 7px;
}

#container ul {
    display: inline-block;
    width: 40%;
}

hr {
    /*margin-bottom: 15px;
    margin-top: 15px;*/
    margin: 15px 0;
}

label {
    font-weight: 600;
}

.employee-info {
    margin: 20px 0;
}

form input, form select {
    width: 244px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid gray;
    font-size: 17px;
    font-weight: 600;
    padding-left: 8px;
    line-height: 41px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.employeeList {
    margin-top: 20px;
    overflow: auto;
    max-height: 610px;
    border-radius: 7px;
}

ul, li {
    list-style: none;
    padding: 0;
}

.btn {
    height: 50px;
    /*margin-top: 10px;*/
    background: #5cb85c;
    border-radius: 7px;
    border: 1px solid #5EB753;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding: 0 15px;
}

/*#employeeButtons .btn{
    margin: 0;
}*/

.employee-actions {
    float: right;
}


/*
dt:after {
    content: ": ";
}*/
